{% extends 'ClasticBackofficeBundle::html.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block html_title %}Clastic{% endblock %}

{% block html_body %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('clastic_backoffice_dashboard') }}">
                        <img src="{{ asset('bundles/clasticbackoffice/logo.png') }}" alt=""/>
                        Clastic
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {{ render(controller('ClasticBackofficeBundle:Navigation:modules')) }}
                        {{ render(controller('ClasticBackofficeBundle:Navigation:user')) }}
                    </ul>
                </div>
            </div>
        </nav>

        <nav class="breadcrumb-container">
            <div class="container">
                {{ wo_render_breadcrumbs({separator: null}) }}
            </div>
        </nav>

        <div class="main-container container">
            <header class="container-header">
                <h1>{% block page_title %}{% endblock %}</h1>
                <div class="header-actions">
                    {% block header_actions %}{% endblock %}
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><span class="pull-right">&copy; Dries De Peuter</span></div>
            </div>
        </div>
    </footer>
{% endblock %}
