<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clastic Backoffice">
    <meta name="author" content="Dries De Peuter">
    <meta name="Generator" content="Clastic (http://clastic.nousefreak.be)">
    <meta name="theme-color" content="#1e3042">

    <link rel="icon" href="{{ asset('bundles/clasticbackoffice/favicon.png') }}">
    <link rel="icon" sizes="192x192" href="{{ asset('bundles/clasticbackoffice/logo-192.png') }}">

    <title>{% block html_title %}{% endblock %}</title>

    <link href="{{ asset('build/app.min.css') }}" rel="stylesheet">

    {% block html_head %}{% endblock html_head %}
</head>

<body>
    {% block html_body %}{% endblock html_body %}
    {% block html_body_js %}
        <script src="{{ asset('build/vendor.min.js') }}"></script>
        <script src="{{ asset('build/app.min.js') }}"></script>
    {% endblock html_body_js %}
</body>
</html>
