{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block html_title %}Clastic - {{ module.name }}{% endblock %}
{% block page_title -%}
    {{ module.name }}

    <a class="btn-add" href="{{ path('clastic_node_form', {type: type}) }}"><i class="fa fa-plus"></i> Add</a>
{%- endblock %}

{% block header_actions %}
    <a href="{{ path('clastic_backoffice_setting', {type: type}) }}"><i class="fa fa-cog text-muted"></i></a>

    {% if submodules|length %}
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{ 'list.submodules'|trans }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for submodule in submodules %}
                    <li><a href="{{ path('clastic_node_list', {'type': submodule.identifier}) }}">{{ submodule.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-list">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <header class="header"></header>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            {% block list_header %}
                                <tr>
                                    <th></th>
                                    <th>{{ 'list.title'|trans }}</th>
                                    <th>{{ 'list.author'|trans }}</th>
                                    <th>{{ 'list.created'|trans }}</th>
                                    <th>{{ 'list.status'|trans }}</th>
                                </tr>
                            {% endblock %}
                        </thead>
                        <tbody>
                        {% for record in data %}
                            {% block list_body %}
                                <tr>
                                    <td>
                                        <a class="btn btn-success btn-xs" href="{{ path('clastic_node_form', {type: type, id: record.node.id}) }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger btn-xs" href="{{ path('clastic_node_delete', {type: type, id: record.node.id}) }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td>{{ record.node.title }}</td>
                                    <td>{{ record.node.user.username }}</td>
                                    <td>{{ record.node.created|date }}</td>
                                    <td>
                                        {% if record.node.publication.online %}
                                            <span class="label label-success">online</span>
                                        {% else %}
                                            <span class="label label-danger">offline</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endblock %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td colspan="4">{{ 'list.no_results'|trans }} <a href="{{ path('clastic_node_form', {type: type}) }}">Create your first.</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagerfanta">
                    {{ pagerfanta(data, 'twitter_bootstrap3_translated') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
