{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block page_title -%}
    {{ 'dashboard.title'|trans }}

    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-add" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus"></i>
        </button>
        <ul class="dropdown-menu">
            {% for module in moduleManager.getContentModules %}
                <li><a href="{{ path('clastic_node_form', {type: module.identifier}) }}">{{ module.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'ClasticBackofficeBundle:FlashMessage:render.html.twig' %}
            <div role="tabpanel" class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for id, tab in mainTabs %}
                        <li role="presentation" {% if loop.first %} class="active"{% endif %}><a href="#{{ id }}" aria-controls="recent" role="tab" data-toggle="tab">{{ tab.title|trans }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for id, tab in mainTabs %}
                        <div role="tabpanel" class="tab-pane {% if loop.first %} active{% endif %}" id="{{ id }}">
                            {{ tab.content|raw }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
