{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div role="tabpanel" class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#mycontent" aria-controls="mycontent" role="tab" data-toggle="tab">My content</a></li>
                    <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="mycontent">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Created</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for node in myContent %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_form', {type: node.type, id: node.id}) }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_node_delete', {type: node.type, id: node.id}) }}"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>{{ node.title }}</td>
                                        <td>{{ node.user.username }}</td>
                                        <td>{{ node.created|date }}</td>
                                        <td>
                                            <span class="label label-default">online</span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td></td>
                                        <td colspan="4">No records found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="recent">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for node in recent %}
                                    <tr>
                                        <td>
                                            <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_form', {type: node.type, id: node.id}) }}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_node_delete', {type: node.type, id: node.id}) }}"><i class="fa fa-trash"></i></a>
                                        </td>
                                        <td>{{ node.title }}</td>
                                        <td>{{ node.user.username }}</td>
                                        <td>{{ node.created|date }}</td>
                                        <td>
                                            <span class="label label-default">online</span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td></td>
                                        <td colspan="4">No records found.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div role="tabpanel" class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#help" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-question-circle"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">home</div>
                    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
                    <div role="tabpanel" class="tab-pane" id="help">
                        Keyboard shortcuts:
                        <dl>
                            <dt>m</dt>
                            <dd>Toggle module list</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
