{% extends 'ClasticBackofficeBundle::html.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block html_head %}
    {{ parent() }}
    <meta name="robots" content="noindex, nofollow">
{% endblock html_head %}

{% block html_title %}Clastic{% endblock %}

{% block html_body %}
    <div class="container">

        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputEmail" class="sr-only">{{ 'security.login.username'|trans }}</label>
            <input type="text" placeholder="{{ 'security.login.username'|trans }}" id="inputEmail" class="form-control" name="_username" value="{{ last_username }}" required="required" />


            <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
            <input type="password" placeholder="{{ 'security.login.password'|trans }}" id="inputPassword" class="form-control" name="_password" required="required" />

            <div class="checkbox">
                <label>
                    <input name="_remember_me" type="checkbox" value="remember-me"> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <button name="_submit" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
        </form>

    </div>
{% endblock %}
