{% use 'form_div_layout.html.twig' %}

{% block form_row -%}
    {% if form.parent.parent %}
        <div class="form-group">
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}

    {% if form.parent.parent %}
        </div>
    {% endif %}
{%- endblock form_row %}

{##
 # Fields
 #}

{# Input elements #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type != 'file' %}
            {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {% endif %}

        {{ parent() }}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {{ parent() }}
    {% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
        {% if not multiple %}
            {% set attr = attr|merge({'class': attr.class ~ ' select2'}) %}
        {% endif %}
        {{ parent() }}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block checkbox_row -%}
    <div class="checkbox">
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if inline is defined and inline %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox-inline')|trim}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- form_widget(form) -}} {{ label|trans({}, translation_domain) }}
        </label>
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{# Custom elements #}

{% block tabs_widget -%}
    <div role="tabpanel" class="tabpanel tabs-left">
        <ul class="nav nav-tabs" role="tablist">
            {% for child in form if child.vars.tab_type == 'tabs_tab' -%}
                <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                    <a href="#{{ child.vars.id }}" aria-controls="{{ child.vars.id }}" role="tab" data-toggle="tab">
                        {{ child.vars.label }}
                    </a>
                </li>
            {%- endfor %}
        </ul>
        <div class="tab-content">
            {% for child in form if child.vars.tab_type == 'tabs_tab' -%}
                <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="{{ child.vars.id }}">
                    {{- form_widget(child) -}}
                </div>
            {%- endfor %}
        </div>
        {% for child in form if child.vars.tab_type == 'tabs_tab_actions' -%}
            <div class="form-actions">
                {{- form_widget(child) -}}
            </div>
        {%- endfor %}
    </div>
{%- endblock %}

{% block tab_widget -%}
    {% for child in form -%}
        {% if not child.rendered %}
            {{- form_row(child) -}}
        {% endif %}
    {%- endfor %}
{%- endblock %}

{% block fieldset_widget %}
    <fieldset {{ block('widget_container_attributes') }}>
        {% if legend is defined and legend is not empty %}
            <legend>{{ legend }}</legend>
        {% endif %}
        {{ form_widget(form) }}
    </fieldset>
{% endblock %}

{% block multi_select_widget -%}
    <div class="multi_select">
        {{ block('choice_widget') }}
    </div>
{%- endblock multi_select_widget %}

{% block entity_multi_select_widget %}
    <div class="multi_select">
        {{ block('choice_widget') }}
    </div>
{% endblock entity_multi_select_widget %}

{% block datepicker_widget -%}
    <div class='input-group'>
        {% set attr = attr|merge({'data-provide': 'datepicker'}) %}
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
{%- endblock datepicker_widget %}

{% block tree_widget -%}
    <div class="tree-container">
        <div class="tree" data-tree='{
                "currentId": {{ tree_current|default('null') }},
                "source": "{{ tree_source|raw }}"
            }'>
        </div>
        <div class="hidden">
            {{ block('form_widget_simple') }}
        </div>
    </div>
{%- endblock tree_widget %}
