{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block page_title -%}
    Menu Item
    <a class="btn-add" href="{{ path('clastic_backoffice_menu_item_form', {menuId: menuId}) }}"><i class="fa fa-plus"></i></a>
{%- endblock %}

{% block list_header %}
    <tr>
        <th></th>
        <th>{{ 'list.title'|trans }}</th>
        <th>{{ 'list.status'|trans }}</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_menu_item_form', {menuId: menuId, id: record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_menu_item_delete', {menuId: menuId, id: record.id}) }}"><i class="fa fa-trash"></i></a>
        </td>
        <td>{{ record.title }}</td>
        <td></td>
    </tr>
{% endblock %}
