{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block html_title %}Clastic - {{ module.name }}{% endblock %}
{% block page_title -%}
    {{ module.name }}
    <a href="{{ path('clastic_backoffice_form', {type: type}) }}"><i class="fa fa-plus-circle text-success"></i></a>
{%- endblock %}

{% block header_actions %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Submodules <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Category</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-list">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <header class="header"></header>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            {% block list_header %}
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                </tr>
                            {% endblock %}
                        </thead>
                        <tbody>
                        {% for record in data %}
                            {% block list_body %}
                                <tr>
                                    <td>
                                        <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_form', {type: type, id: record.node.id}) }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_node_delete', {type: type, id: record.node.id}) }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                    <td>{{ record.node.title }}</td>
                                    <td>Dries</td>
                                    <td>{{ record.node.created|date }}</td>
                                    <td>
                                        <span class="label label-default">online</span>
                                    </td>
                                </tr>
                            {% endblock %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagerfanta">
                    {{ pagerfanta(data, 'twitter_bootstrap3') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
