{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block page_title -%}
    Text
    <a href="{{ path('clastic_backoffice_form', {type: type}) }}"><i class="fa fa-plus-circle text-success"></i></a>
{%- endblock %}

{% block header_actions %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Submodules <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Category</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-list">
                <header class="header"></header>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Created</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in data %}
                            <tr>
                                <td>
                                    <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_form', {type: type, node_id: record.node.id}) }}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                                </td>
                                <td>{{ record.node.title }}</td>
                                <td>Dries</td>
                                <td>{{ record.node.created|date }}</td>
                                <td>
                                    <span class="label label-default">online</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagerfanta">
                    {{ pagerfanta(data, 'twitter_bootstrap3') }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}