{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block page_title -%}
    {{ module.name }}
{%- endblock %}

{% block list_header %}
    <tr>
        <th></th>
        <th>{{ 'list.title'|trans }}</th>
        <th>{{ 'list.author'|trans }}</th>
        <th>{{ 'list.created'|trans }}</th>
        <th>{{ 'list.status'|trans }}</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" href="{{ path('clastic_node_form', {type: type, id: record.id}) }}"><i class="fa fa-pencil"></i></a>
        </td>
        <td>{{ record.alias }}</td>
        <td>{{ record.node.user.username }}</td>
        <td>{{ record.node.created|date }}</td>
        <td>
            {% if record.node.publication.online %}
                <span class="label label-success">online</span>
            {% else %}
                <span class="label label-danger">offline</span>
            {% endif %}
        </td>
    </tr>
{% endblock %}
